.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.25em;
  border-bottom: 2px solid #dfdfdf;

  > i,
  svg {
    color: #aaa;
  }

  input {
    border: 0;
    padding: 8px;
    outline: none;

  }
  
  .toggleButton {
    background-color: transparent;
    font-size: 0;
    cursor: pointer;
  }

  input,
  label {
    font-size: 1em;
    width: 100%;
  }
}
